@import "config";

$portrait: 	768px;
$landscape:	1024px;
$desktop:	1200px;


/* ==========================================================================
Page 
========================================================================== */
#page {
	@include container;
}

/* ==========================================================================
Mobile first approach some start here
========================================================================== */
#content {
	@include clearfix;
}

#masthead {
	@include span(12);
}

#primary {
	@include span(12);
}

#secondary {
	@include span(12);
}


/* ==========================================================================
Tablet portrait
========================================================================== */
@include breakpoint($portrait){
	#primary {
		@include span(8);
	}

	#secondary {
		@include span(4);
	}
}


/* ==========================================================================
Tablet landscape
========================================================================== */
@include breakpoint($landscape){
	#primary {
		@include span(4);
	}

	#secondary {
		@include span(8);
	}
}


/* ==========================================================================
Big screens
========================================================================== */
@include breakpoint($desktop){
	#primary {
		@include span(8);
	}

	#secondary {
		@include span(4);
	}
}
