@import "config";

$portrait: 	768px;
$landscape:	1024px;
$desktop:	1200px;


/* ==========================================================================
Page 
========================================================================== */
#page {
	@include container;
}


/* ==========================================================================
Mobile first approach some start here
========================================================================== */
#content {

}

#masthead {

}

#primary {

}

#secondary {

}


/* ==========================================================================
Tablet portrait
========================================================================== */

	#primary {

	}

	#secondary {

	}



/* ==========================================================================
Tablet landscape
========================================================================== */

	#primary {

	}

	#secondary {

	}



/* ==========================================================================
Big screens
========================================================================== */

	#primary {

	}

	#secondary {

	}

