/* ==========================================================================
Colors
// Gray and brand colors for use across website.
========================================================================== */




/* ==========================================================================
Scafolding
// Settings for some of the most global styles.
========================================================================== */
$body-bg:               #fff;
$text-color:            #333;
$link-color:            #ff6600;
$link-hover-color:      #ff9989;


/* ==========================================================================
Typography
// Font, line-height, and color for body text, headings, and more.
========================================================================== */
$font-family:  		"Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size:          16px;
$line-height:        1.4;

