/* ==========================================================================
Placeholders
========================================================================== */
%clean-list {
	margin:0;
	padding:0;
	list-style-type: none;
}

%btn {
	font-size:$btn-font-size;
	background-color:$btn-bg-color;
	color:$btn-color;
	padding:$btn-padding;
	border-radius:$btn-border-radius;
	
	display: inline-block;
	text-decoration: none;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%clean-list {
	list-style-type: none;
	padding:0;
	margin:0;
}

%hor-list {
	
	li {
		float:left;
	}
}

%box-sizing {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box; 
	        box-sizing: border-box; 
}

%transition {
	transition:(all 0.3s);
}

%hide-mobile {
	display: none;
	@include breakpoint($landscape){
		display:block;
	}
}

%show-mobile {
	display: block;
	@include breakpoint($landscape){
		display:none;
	}
}

%pull-right {
	float:right;
}

/* ==========================================================================
Mixins
========================================================================== */
// Text replacement
@mixin hide-text {
	font: 0;
	height:0;
	color:transparent;
}


/* ==========================================================================
Buttons
========================================================================== */
