/* ==========================================================================
Wordpress main navigation mobile first change class name with jquery
========================================================================== */
// On mobile
.main-navigation {
	ul {
		margin:0;
		padding:0;
		list-style-type: none;
		

		li {
			border-top:1px solid #eee;
			a {
				display: block;
				padding:.5em 0;
			}
		}
	}
	> ul {
		border-bottom:1px solid #eee;

		li {
			> ul {
				font-size: 0.9em;
				li {
					a {
						padding-left:1em;
					}
				}
			}
		}
	}
}

// On desktop
.desk-navigation {
	
}