/* ==========================================================================
Masthead
========================================================================== */
#masthead {
	background-color: #ccc;
}

/*--------------------------------------------------------------
## Site branding
--------------------------------------------------------------*/
#site-branding {
	display: block;
	float: left;
	zoom: 1;
	margin-top: 31px;
	margin-right: 0px;
	margin-bottom: 31px;
	margin-left: 0px;
}

/* ==========================================================================
Main menu
========================================================================== */
.main-menu {
	float:right;
	position: relative;
  	z-index: 200;
	
	a {
		display:block;
	}

	ul {
		list-style-type: none;
		margin:0;
		padding:0;
	}

  	li {
		float:left;
		margin: 0;
		padding: 0;
		position: relative;

		&:hover > .sub-menu {
			visibility: visible;
			opacity: 1;
		}
  	}

  	> ul {
  		
  		> li {
  			padding-right:20px;
  			
  			> a {
				height: 86px;
				line-height: 86px;
				color: #333333;
  			}
  		}
  	}

  	// Different states
  	.current-menu-ancestor > a,
 	.current-menu-item > a,
	.current-menu-parent > a, 
	.current_page_item > a {


	}

	// Submenu
	.sub-menu {
		position: absolute;
		left: 0;
		visibility: hidden;
		opacity: 0;
		z-index: 1;
		background-color: #edecec;
		width: 170px;
		
		a {
			padding:7px 20px;
			border-bottom: 1px solid #e3e2e3;
		}

		ul {
			left: 170px;
  			top: 0px;
		}

		li {
			float: none;
		  	margin: 0;
		  	padding: 0;
		}
	}
}


/* ==========================================================================
mobile nav
========================================================================== */
.mobile-main-menu{
	margin-left: -30px;
	margin-right: -30px;
	margin-bottom: -20px;
	clear: both;
	color: #333;
	display: none;

	ul {
		display: block;
		list-style: none;
		margin: 0;
		padding: 0;
		
		li {
			text-align: left;
			position: relative;
			font-size: 12px;
			line-height: normal;

			a {
				padding-left: 30px;
				padding-right: 30px;
				color: #333333;
				font-size: 13px;
				background-color: #f9f9f9;
				border-color: #dadada;
				height: 40px;
				line-height: 40px;
				display: block;
			}

			ul {
				list-style: none;
				margin: 0;
				padding: 0;
			}
		}
	}
}
