/* ==========================================================================
// Brand colors
========================================================================== */
$color-primary:#ff6600;
$color-secondary:#ff6600;

/* ==========================================================================
// Text
========================================================================== */
$color-body-text:#333;

/* ==========================================================================
// Backgrounds
========================================================================== */
$color-body-bg:#fefefe;
$color-content-bg:#ee9966;

/* ==========================================================================
// Links
========================================================================== */
$color-link:#ff6600;
$color-link-hover:#ff6600;

/* ==========================================================================
// Buttons
========================================================================== */
$color-btn-primary:#ff6600;
$color-btn-secondary:#ff6600;
	
	// Button background colors
	$color-btn-primary-bg:#ff6600;
	$color-btn-secondary-bg:#ff6600;
	
	// Button border colors
	$color-btn-primary-border:#ff6600;
	$color-btn-secondary-border:#ff6600;


/* ==========================================================================
// Forms
========================================================================== */
$color-input:#ff6600;
$color-input-border:#ff6600;
$color-input-focus:#ff6600;


/* ==========================================================================
// Misc
========================================================================== */
$color-hr:#ff5566;
$color-border:#ff6600;
