/* ==========================================================================
Susy Grid
========================================================================== */
$susy: (
	columns: 12,
	math: fluid,
	container: 1170px,
  	container-position: center,
	gutters:(30px / 70px),
	gutter-position: inside-static,
	column-width:70px,
  	debug: (
	    image: show-columns,
	    color: rgba(#66f, .15),
	    output: background,
	  ),
);