/* ==========================================================================
Susy settings
========================================================================== */
$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: 768px,
  container-position: center,
  columns: 6,
  gutters:0,
  column-width: false,
  global-box-sizing: border-box,
  last-flow: to,
);


/* ==========================================================================
Main Colors
========================================================================== */
$color-one: 	#333;
$color-two: 	#333;
$color-three: 	#333;
$color-four: 	#333;
$color-five: 	#333;

$text-color:	$color-one;

/* ==========================================================================
Links
========================================================================== */
$link-color:;
$link-color-hover:;

$alt-link-color:;
$alt-link-color-hover:;

/* ==========================================================================
Buttons
========================================================================== */
$btn-font-size:	inherit;
$btn-bg-color:	$color-one;
$btn-color:		inherit;
$btn-padding:	10px 15px;


/* ==========================================================================
Typography
========================================================================== */
$font-family:	'Open Sans', sans-serif;
$font-size:		16px;
$font-color:	$text-color;


