/* ==========================================================================
Main Colors
========================================================================== */
$color-one: 	#333;
$color-two: 	#333;
$color-three: 	#333;
$color-four: 	#333;
$color-five: 	#333;

/* ==========================================================================
Links
========================================================================== */
$link-color:;
$link-color-hover:;

$alt-link-color:;
$alt-link-color-hover:;

/* ==========================================================================
Buttons
========================================================================== */



/* ==========================================================================
Typography
========================================================================== */
$font-family:;
$font-size:;
$font-color:;


