/* ==========================================================================
Susy settings
========================================================================== */
$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: 1440px,
  container-position: center,
  columns: 6,
  gutters:0,
  column-width: false,
  global-box-sizing: border-box,
  last-flow: to,
);


/* ==========================================================================
Sizes
========================================================================== */
$portrait:	768px;
$landscape:	1024px;
$desktop:	1366px;


/* ==========================================================================
Main Colors
========================================================================== */
$color-one: 	#333;
$color-two: 	#333;
$color-three: 	#333;
$color-four: 	#333;
$color-five: 	#333;

/* ==========================================================================
Links
========================================================================== */
$link-color:;
$link-color-hover:;

$alt-link-color:;
$alt-link-color-hover:;

/* ==========================================================================
Buttons
========================================================================== */



/* ==========================================================================
Typography
========================================================================== */
$font-family:;
$font-size:;
$font-color:;


