h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h1, 
h2, 
h3, 
h4,
h5,
h6 {
	margin: $baseline 0 .5em;
	line-height: 1.2;
}

h5,
h6 {
	line-height: 1.5;
	letter-spacing: 1px;
	text-transform: uppercase;
}

h1 {
	font-size: $h1-size;
}

h2 {
	font-size: $h2-size;
}

h3 {
	font-size: $h3-size;
}

h4 {
	font-size: $h4-size;
}

h5 {
	font-size: $h5-size;
}

h6 {
	font-size: $h6-size;
}






