@import "globals/config";

/* ==========================================================================
1.0 Global
========================================================================== */
.container{
	@include container;
}

.clearfix {
	@include clearfix;
}


/* ==========================================================================
2.0 Header
========================================================================== */

#masthead {
	padding:gutter() 0;

	#site-branding {
		@include float-left; 
		margin-left:gutter();
	}
	#site-navigation {
		@include float-right;
		margin-right:gutter();
	}
}

/* ==========================================================================
3.0 Content
========================================================================== */

#content {
	@include container();
	padding:gutter() 0;
}

	/* ==========================================================================
	3.1 #primary (main content)
	========================================================================== */

	#primary {
		@include span(9);
	}

	/* ==========================================================================
	3.2 #secondary (sidebar)
	========================================================================== */

	#secondary {
		@include span(3);
	}

/* ==========================================================================
4.0 Footer
========================================================================== */

#colophon {
	padding:gutter() 0;
	
	.site-info {
		margin:0 gutter();
	}
}


/* ==========================================================================
List styles
========================================================================== */
.l-hor-list,
.l-ver-list {
	@include clearfix;
	
	li {
		float:left;
		
		a {
			padding:0 $padding-base-horizontal;
			display: block;
		}
	}
}
// Overide above settings
.l-ver-list li {
	float:none;
	a {
		padding:$padding-base-vertical 0;
	}
}