/* ==========================================================================
1200 px wide container is ~ 1180px content
========================================================================== */
$susy: (
	columns: 12,
	math: fluid,
	container: 1200px,
  	container-position: center,
	gutters:.25,
	gutter-position: split,
  	debug: (
	    image: show-columns,
	    color: rgba(#66f, .15),
	    output: background,
	  ),
);



/* ==========================================================================
Page
========================================================================== */