/* ==========================================================================
1200 px wide container is ~ 1180px content
========================================================================== */
$susy: (
	columns: 12,
	math: fluid,
	container: 1200px,
  	container-position: center,
	gutters:.25,
	gutter-position: split,
  	debug: (
	    image: show-columns,
	    color: rgba(#66f, .25),
	    output: background,
	    toggle: right,
	  ),
);

/* ==========================================================================
Screen size variables
========================================================================== */
$portrait: 	768px;
$landscape:	1024px;
$desktop:	1200px;

/* ==========================================================================
Page
========================================================================== */