/* ==========================================================================
Bootstrap sized grid
========================================================================== */
$susy: (
	columns: 12,
	math: fluid,
	gutters:(30/70),
	column-width: 70px,
	gutter-position: inside-static,
  	global-box-sizing:border-box,
);

/* ==========================================================================
Screen size variables
========================================================================== */
$portrait: 	768px;
$landscape:	1024px;
$desktop:	1200px;