html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* ==========================================================================
Body styles
========================================================================== */
body {
	font-size:$base-font-size;
	color:$text-color;
	background-color:$body-bg;
}



/* ==========================================================================
Link styles
========================================================================== */
