html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* ==========================================================================
Body styles
========================================================================== */
body {
	color:$text-color;
	background-color:$body-bg;
}



/* ==========================================================================
Link styles
========================================================================== */
a {
	color:$link-color;
	text-decoration: $link-decoration;

	// Different states
	&:active {

	}
	&:hover {
		text-decoration:$link-decoration-hover;
	}
	&:focus {

	}
}