body {
	font-family: $base-font;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/* ==========================================================================
Headings
========================================================================== */
h1,h2,h3,h4,h5,h6 {
	font-family: $headings-font;
}

h1 {
	font-size: $h1-font-size;
	line-height: $base-line;
	margin-bottom: $base-line;
}
h2 {
	font-size: $h2-font-size;
	line-height: $base-line;
	margin-bottom: $base-line;
}
h3 {
	font-size: $h3-font-size;
	line-height: $base-line;
	margin-bottom: $base-line;
}
h4 {
	font-size: $h4-font-size;
	line-height: $base-line;
	margin-bottom: $base-line;
}
h5 {
	font-size: $h5-font-size;
	line-height: $base-line;
	margin-bottom: $base-line;
}
h6 {
	font-size: $h6-font-size;
	line-height: $base-line;
	margin-bottom: $base-line;
}

/* ==========================================================================
Paragraphs
========================================================================== */
p {
	font-size: $p-size;
	margin-bottom:$p-margin;
	
	// small
	small {
		font-size: $p-size-small;
		margin-bottom:$p-margin-sm;
	}
}
/* ==========================================================================
Quote
========================================================================== */