/* ==========================================================================
Headings
========================================================================== */
h1,h2,h3,h4,h5,h6 {

}

h1 {
	font-size: $h1-font-size;
	line-height: $h1-line-height;
	margin-bottom:$h1-margin-bottom;
}
h2 {
	font-size: $h1-font-size;
	line-height: $h1-line-height;
	margin-bottom:$h1-margin-bottom;
}
h3 {
	font-size: $h1-font-size;
	line-height: $h1-line-height;
	margin-bottom:$h1-margin-bottom;
}
h4 {
	font-size: $h1-font-size;
	line-height: $h1-line-height;
	margin-bottom:$h1-margin-bottom;
}
h5 {
	font-size: $h1-font-size;
	line-height: $h1-line-height;
	margin-bottom:$h1-margin-bottom;
}
h6 {
	font-size: $h1-font-size;
	line-height: $h1-line-height;
	margin-bottom:$h1-margin-bottom;
}

/* ==========================================================================
Paragraphs
========================================================================== */

/* ==========================================================================
Quote
========================================================================== */