.h-hor-list {
	@extend %horizontal-list;
}

/* ==========================================================================
Floats
========================================================================== */
.h-pull-right {
	@extend %pull-right;
}

.h-pull-left {
	@extend %pull-left;
}

/* ==========================================================================
Buttons
========================================================================== */
.btn {
	@include btn($btn-default);
	color:$btn-color-light;
}

.btn-primary {
	@include btn($btn-primary);
	color:$btn-color-light;
}

.btn-secondary {
	@include btn($btn-secondary);
	color:$btn-color-light;
}