/* ==========================================================================
Susy Grid
========================================================================== */
$susy: (
	columns: 12,
	math: fluid,
	container:1200px,
  	container-position: center,
	gutters:0.25,
	gutter-position: after,
  	debug: (
	    image: show-columns,
	    color: rgba(#66f, .15),
	    output: background,
	  ),
);




/* ==========================================================================
Sizes
========================================================================== */
$portrait: 	768px;
$landscape:	1024px;
$desktop:	1200px;

/* ==========================================================================
Colors
// Gray and brand colors for use across website.
========================================================================== */
$black: 			#000000;
$gray-dark: 		#333333;
$gray: 				#333333;
$gray-light: 		#868686;
$white:				#ffffff;


$brand-one:			#ff6314;
$brand-two:			#779554;
$brand-three:		#779554;

/* ==========================================================================
Scafolding
// Settings for some of the most global styles.
========================================================================== */
$body-bg:               #fff;
$text-color:            #3a3a3a;

// Links
$link-color:            #333;
$link-hover-color:      #333;
$link-decoration:		none;
$link-decoration-hover:	underline;

/* ==========================================================================
Typography
// Font, line-height, and color for body text, headings, and more.
========================================================================== */
$base-font:  	"Helvetica Neue", Helvetica, Arial, sans-serif;
$custom-font:	"Helvetica Neue", Helvetica, Arial, sans-serif;

$base-font-size:        14px;
$base-line-height:		1.5;


/* ==========================================================================
Headings
========================================================================== */
$headings-font: 	"Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-weight: bold;

// H1
$h1-font-size:		32px;
$base-line-height:	1.5;

// H2
$h2-font-size:		28px;
$base-line-height:	1.5;

// H3
$h3-font-size:		24px;
$base-line-height:	1.5;

// H4
$h4-font-size:		20px;
$base-line-height:	1.5;

// H5
$h5-font-size:		16px;
$base-line-height:	1.5;

// H6
$h6-font-size:		12px;
$base-line-height:	1.5;


/* ==========================================================================
Buttons
========================================================================== */
$btn-padding: 	10px 20px;

/* ==========================================================================
Form styles
========================================================================== */
$input-height:			45px;
$input-bg:				#ccc;
$input-color:			#ccc;
$input-border:			1px;
$input-border-color:	#ccc;
$input-border-radius:	0px;

/* ==========================================================================
Captions
========================================================================== */
$caption-padding:		10px;
$caption-font-size:		12px;
$caption-color:			#999;
$caption-background: 	$white;

