/* ==========================================================================
Colors
// Gray and brand colors for use across website.
========================================================================== */
$black: 		#000000;
$gray: 			#333333;
$gray-light: 	#868686;
$white:			#ffffff;


$orange: 		#ff6314;
$blue-dark: 	#eee;
$blue-light: 	#efefef;

/* ==========================================================================
Scafolding
// Settings for some of the most global styles.
========================================================================== */
$body-bg:               #fff;
$text-color:            #333;
$link-color:            $blue-dark;
$link-hover-color:      $orange;

/* ==========================================================================
Typography
// Font, line-height, and color for body text, headings, and more.
========================================================================== */
$base-font:  	"Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$custom-font:	"Helvetica Neue", Helvetica, Arial, sans-serif;

$base-font-size:        14px;
$base-line-height:      1.6;

/* ==========================================================================
Headings
========================================================================== */
$h1-font-size:		22px;
$h1-line-height:	22px;
$h1-margin-bottom:	22px;
/* ==========================================================================
Button styles
========================================================================== */

/* ==========================================================================
Form styles
========================================================================== */
$input-height:			45px;
$input-bg:				#ccc;
$input-color:			#ccc;
$input-border:			1px;
$input-border-color:	#ccc;
$input-border-radius:	0px;

